body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #6daac2;
}

.header > * {
    margin: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form > label {
    cursor: pointer;
}

form > input {
    width: clamp(300px, 450px, 500px);
    height: 35px;
    border: none;
    border-radius: 10px;
}

form input[type='submit'] {display: none;}

/* ----------------------------------------------- */

/* content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.central-div {
    width: clamp(600px, 100%, 1300px);
    height: 90%;
    border: 1px solid black;
}